/*-----[ Reset ]-----*/
*{
  margin: 0;
  padding: 0;
}

/*-----[ WebFont ]-----*/
@font-face{
  font-family: 'MyTenderness';
  src: url('font/Tenderness-webfont.woff') format('woff');
}

/*-----[ Initialize ]-----*/
a {
  text-decoration: none;
}

/*-----[ Header ]-----*/
#header {
  background-color: #f4f4f4;
  overflow: hidden;
}

#title {
  font-family: 'Indie Flower', cursive;
  color: rgb(102, 102, 102);
  font-size: 60px;
  padding-left: 10px;
  display: block;
  float: left;
  width: 200px;
}

#menulist {
  color: #000000;
  padding-top: 24px;
  padding-right: 14px;
  float: right;
}

li {
  font-family: 'News Cycle', sans-serif;
}

#menulist li {
  display: inline-block;
  text-align: center;
  font-size: 27px;
  border-radius: 2px;
}

#menulist a {
  display: inline-block;
  color: #404040;
  padding-left: 5px;
  padding-right: 5px;
  height: 48px;
  width: 125px;
}

.about, .blog, .links {
  padding-bottom: 3px;
}

#menulist a.homeIcon {
  background:url('../img/home.png') no-repeat center center;
  display: block;
  overflow: hidden;
  padding-left: 12px;
  padding-right: 12px;
  text-indent: -9999px;
  width: 26px;
  height: 26px;
}

#menulist a.homeIcon:hover {
  opacity: .6;
  display: block;
  overflow: hidden;
  padding-left: 12px;
  padding-right: 12px;
  text-indent: -9999px;
  width: 26px;
  height: 26px;
}

.about a {
  background-color: #64c0d1;
}

.blog a, .links a {
  background-color: #f4f4f4;
  -webkit-transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  -ms-transition: background-color 0.1s linear;
}

.blog a:hover{ background-color: #6dce9a; }
.links a:hover{ background-color: #ff88c2; }

/*-----[ MAIN ]-----*/
.main {
  padding: 40px 7%;
  overflow: hidden;
  background-color: #fff;
}

.main #secondary{
  float: left;
  width: 265px;
  text-align: center;
}

.main #secondary #avatar{
  cursor: pointer;
}

.main #secondary .word {
  clear: left;
  padding-top: 20px;
}

.main #secondary .word p {
  font-size: 15px;
  padding-left: 20px;
}

.main #content{
  margin-left: 320px;
}

.main #content p{
  padding-left: 30px;
}

#make {
  padding-top: 10px;
  /*padding-left: 75px;*/
}

#make a {
  padding: 0px 2px;
  color:#d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 3px;
}

.ja {
  display: block;
  font-size: 18px;
}

.en {
  display: block;
  font-size: 16px;
  padding-bottom: 8px;
}

h1 {
  font-weight: bold;
  font-size: 34px;
  margin-bottom: 10px;
}

#footer {
  font-size: 12px;
  color: #999999;
  text-align: center;
  margin-top: 18px;
  border-top: 1px solid #ccc;
  padding: 10px 0 5px;
  clear: both;
  margin: 0 7%;
}