/*-----[ Reset ]-----*/
*{
  margin: 0;
  padding: 0;
}

/*-----[ WebFont ]-----*/
@font-face{
  font-family: 'MyTenderness';
  src: url('font/Tenderness-webfont.woff') format('woff');
}

/*-----[ Header ]-----*/
.about a {
  background-color: #64c0d1;
}

/*-----[ MAIN ]-----*/
.main {
  padding: 40px 7%;
  overflow: hidden;
  background-color: #fff;
}

.main #secondary{
  float: left;
  width: 265px;
  text-align: center;
}

.main #secondary #avatar{
  cursor: pointer;
}

.main #secondary .word {
  clear: left;
  padding-top: 20px;
}

.main #secondary .word p {
  font-size: 15px;
  padding-left: 20px;
}

.main #content{
  margin-left: 320px;
}

.main #content p{
  padding-left: 30px;
}

.font_around {
  padding-top: 10px;
  /*padding-left: 75px;*/
}

.font_around a {
  padding: 0px 2px;
  color:#d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 3px;
}

.ja {
  display: block;
  font-size: 18px;
}

.en {
  display: block;
  font-size: 16px;
  padding-bottom: 13px;
}

#footer {
  font-size: 12px;
  color: #999999;
  text-align: center;
  margin-top: 18px;
  border-top: 1px solid #ccc;
  padding: 10px 0 5px;
  clear: both;
  margin: 0 7%;
}
