h1 {
	margin: 0;
}

h2 {
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 34px;
}

/*-----[ Initialize ]-----*/
body {
  background-color: #fff;
  height: 100%;
}

a {
  text-decoration: none;
}

/*-----[ Header ]-----*/
#header {
  background-color: #f4f4f4;
  overflow: hidden;
}

h1 {
  font-family: 'Indie Flower', cursive;
  color: rgb(102, 102, 102);
  font-size: 60px;
  padding-left: 10px;
  display: block;
  float: left;
  width: 200px;
}
h1 span{
  color: #ff6600;
}

#menulist {
  color: #000000;
  padding-top: 24px;
  padding-right: 14px;
  float: right;
}

#menulist li {
  font-family: 'News Cycle', sans-serif;
}

#menulist li {
  display: inline-block;
  text-align: center;
  font-size: 27px;
  border-radius: 2px;
}

#menulist a {
  display: inline-block;
  color: #404040;
  padding-left: 5px;
  padding-right: 5px;
  height: 48px;
  width: 125px;
}

.about, .blog, .links {
  padding-bottom: 3px;
}

#menulist a.homeIcon {
  background:url('../img/home.png') no-repeat center center;
  display: block;
  overflow: hidden;
  padding-left: 12px;
  padding-right: 12px;
  text-indent: -9999px;
  width: 26px;
  height: 26px;
}

#menulist a.homeIcon:hover {
  opacity: .6;
  display: block;
  overflow: hidden;
  padding-left: 12px;
  padding-right: 12px;
  text-indent: -9999px;
  width: 26px;
  height: 26px;
}

.about a, .blog a {
  background-color: #f4f4f4;
  -webkit-transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  -ms-transition: background-color 0.1s linear;
}

.about a:hover { background-color: #64c0d1; }
.blog a:hover { background-color: #6dce9a; }
.links a:hover { background-color: #ff88c2; }

/*.block {
  display: flex;
}

.block > div {
  display: inline-block;
  padding: 1em;
  border: 2px solid #FFF;
}*/