/*-----[ Reset ]-----*/
*{
  margin: 0;
  padding: 0;
}

/*-----[ WebFont ]-----*/
@font-face{
  font-family: 'MyTenderness';
  src: url('font/Tenderness-webfont.woff') format('woff');
}

/*-----[ Header ]-----*/
.links a {
  background-color: #ff88c2;
}

/*-----[ Navigation ]-----*/
body#height {
}

#navi {
  width: 120px;
  background-color: #A4A4A4;
  float: left;
}

#navi li {
  display: block;
  text-align: center;
  width: 100%;
  line-height: 120px;
  cursor: pointer;
}

/*-----[ MAIN ]-----*/
#main {
  margin-left:120px;
  position: relative;
}

.active, #navi li:hover {
  background-color: #E5E6E6;
}

.tab_content{
  padding-top: 35px;
  padding-left: 50px;;
  position: absolute;
  top: 0;
  left: 0;
}

/*-----------------------------------SNS-----------------------------------*/
/* #48aaac #2d8080 #82f8f8 */

.block {
  float: left;
  padding-top: 35px;
}

.font_around {
  cursor: pointer;
  margin-bottom: 50px;
}

#nakami-list1, #nakami-list2 {
  padding-top: 35px;
  padding-left: 170px;
}

#nakami-list1 p, #nakami-list2 p {
  display: none;
}



/*-----------------------------------Blog-----------------------------------*/

/*-----------------------------------Anoter-----------------------------------*/

/*-----------------------------------Contact-----------------------------------*/


/*------------------------------------------------------------------------------------------------------------------------------------------*/