/*-----[ Reset ]-----*/
*{
  margin: 0;
  padding: 0;
}

/*-----[ WebFont ]-----*/
@font-face{
  font-family: 'MyTenderness';
  src: url('font/Tenderness-webfont.woff') format('woff');
}

/*-----[ Initialize ]-----*/
body {
  background-color: #fff;
}

a {
  text-decoration: none;
}

/*-----[ Header ]-----*/
#header {
  background-color: #f4f4f4;
  overflow: hidden;
}

h1 {
  font-family: 'Indie Flower', cursive;
  color: rgb(102, 102, 102);
  font-size: 60px;
  padding-left: 10px;
  display: block;
  float: left;
  width: 200px;
}
h1 span{
  color: #ff6600;
}

#menulist {
  color: #000000;
  padding-top: 24px;
  padding-right: 14px;
  float: right;
}

#menulist li {
  font-family: 'News Cycle', sans-serif;
}

#menulist li {
  display: inline-block;
  text-align: center;
  font-size: 27px;
  border-radius: 2px;
}

#menulist a {
  display: inline-block;
  color: #404040;
  padding-left: 5px;
  padding-right: 5px;
  height: 48px;
  width: 125px;
}

.about, .blog, .links {
  padding-bottom: 3px;
}

#menulist a.homeIcon {
  background:url('../img/home.png') no-repeat center center;
  display: block;
  overflow: hidden;
  padding-left: 12px;
  padding-right: 12px;
  text-indent: -9999px;
  width: 26px;
  height: 26px;
}

#menulist a.homeIcon:hover {
  opacity: .6;
  display: block;
  overflow: hidden;
  padding-left: 12px;
  padding-right: 12px;
  text-indent: -9999px;
  width: 26px;
  height: 26px;
}

.links a {
  background-color: #ff88c2;
}

.about a, .blog a {
  background-color: #f4f4f4;
  -webkit-transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  -ms-transition: background-color 0.1s linear;
}

.about a:hover{ background-color: #64c0d1; }
.blog a:hover{ background-color: #6dce9a; }

/*-----[ Navigation ]-----*/
body#height {
}

#navi {
  width: 120px;
  background-color: #A4A4A4;
  float: left;
}

#navi li {
  display: block;
  text-align: center;
  width: 100%;
  line-height: 120px;
  cursor: pointer;
}

#navi li:hover {
  background-color: #E5E6E6;
}

/*-----[ MAIN ]-----*/
#main {
  margin-left:120px;
}

#blog, #anoter, #contact {
  clear: left;
}

/*-----------------------------------SNS-----------------------------------*/
/* #48aaac #2d8080 #82f8f8 */
#twitter, #adn, #lingr {
  text-align: center;
  float: left;
  width: 102px;
  height: 15px;
  display: block;
  background-color: #2d8080;
  border: 10px solid #2d8080;
  padding-top: 85px;
  cursor: pointer;
}

#twitter:hover {
  border: 10px solid #82f8f8;
}

#adn:hover {
  border: 10px solid #82f8f8;
}

#lingr:hover {
  border: 10px solid #82f8f8;
}

/*-----------------------------------Blog-----------------------------------*/

/*-----------------------------------Anoter-----------------------------------*/

/*-----------------------------------Contact-----------------------------------*/


/*------------------------------------------------------------------------------------------------------------------------------------------*/

#sub {

}
