/*-----[ Reset ]-----*/
*{
  margin: 0;
  padding: 0;
}

/*-----[ WebFont ]-----*/
@font-face{
  font-family: 'MyTenderness';
  src: url('font/Tenderness-webfont.woff') format('woff');
}

/*-----[ Header ]-----*/
.links a {
  background-color: #ff88c2;
}

/*-----[ Navigation ]-----*/
body#height {
}

#navi {
  width: 120px;
  background-color: #A4A4A4;
  float: left;
}

#navi li {
  display: block;
  text-align: center;
  width: 100%;
  line-height: 120px;
  cursor: pointer;
}

/*-----[ MAIN ]-----*/
#main {
  margin-left:120px;
  position: relative;
}

.active, #navi li:hover {
  background-color: #E5E6E6;
}

.tab_content{
  padding-top: 35px;
  padding-left: 60px;;
  position: absolute;
  top: 0;
  left: 0;
}

/*-----------------------------------SNS-----------------------------------*/
/* #48aaac #2d8080 #82f8f8 */

.block {
/*  float: left;*/
  padding-top: 35px;
  padding-bottom: 5px;
}

.font_around {
  text-align: center;
  display: inline-block;
  cursor: pointer;
  width: 70px;
  color:#404040;
  background-color: #FFBBFF;
  border: 2px solid #FF99FF;
/*  margin-bottom: 50px;*/
  margin-right: 5px;
}

.font_around:hover {
  background-color: #fff;
  border: 2px solid #FF99FF;
}

.suspend {
  font-size: 80%;
}

#nakami-list1 {
  width: 232px;
}

#a9 {
  text-decoration:line-through;
}



/*-----------------------------------Blog-----------------------------------*/

.blog_title {
    width: 60%;
    font-size: 120%;
    /*padding-bottom: 2px;*/
    border-bottom: 1px solid #222222;
    margin-top: 30px;
    margin-left: 15px;
}

.blog_url {
    margin-top: 7px;
    margin-left: 100px;
}

/*-----------------------------------Anoter-----------------------------------*/

#nakami-list2 {
  width: 307px;
}

/*-----------------------------------Contact-----------------------------------*/

#nakami-contact {
  width: 232px;
}

/*-----------------------------------Common-----------------------------------*/

#nakami-list1, #nakami-list2, #nakami-contact {
  height: 90px;
  float: left;
  text-align: center;
}

#nakami-list1 p, #nakami-list2 p, #nakami-contact p {
  display: none;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/*------------------------------------------------------------------------------------------------------------------------------------------*/